/* banner.css */
  .banner {
    background: url(../image/bannner_bg_01.jpg) center center / 6000px;
  }
  .banner > .area {
    position: relative;
    height: 285px;
    background-color: orange;
  }
  /* 左边内容 */
  .banner .area-left {
    position: relative;
  }
  /* 图片列表 */
  .banner .area-left .img-list {
    display: flex;
    width: 730px;
    overflow: hidden;
  }
  .banner .area-left .img-list li {
    flex-shrink: 0;
  }
  .banner .area-left .img-list .item {
    display: block;
  }
  .banner .area-left .img-list .item img{
    width: 100%;
    height: 285px;
  }
  /* 指示器列表 */
  .banner .area-left .dot-list {
    position: absolute;
    bottom: 6px;
    display: flex;
    justify-content: center;
    width: 730px;
  }
  .banner .area-left .dot-list .item {
    display: block;
    width: 20px;
    height: 20px;
    background: url('../image/banner.png') no-repeat 3px -343px;
  }
  .banner .area-left .dot-list .item:hover,
  .banner .area-left .dot-list .item.active {
    background-position:-16px -343px;
  }
  /* 右边内容 */
  .banner .area-right {
    position: absolute;
    right: -1px;
    top: 0;
    bottom: 0;
    width: 254px;
    background-color: purple;
    background: url(../image/download.png);
  }
  .banner .area-right .download {
    display: block;
    width: 215px;
    height: 56px;
    margin: 186px 0 0 19px;
    text-indent: -9999px;
  }
  .banner .area-right .download:hover {
    background: url(../image/download.png) 0 -290px ;
  }
  .banner .area-right .desc {
    color: #8d8d8d;
    margin-top: 10px;
    text-align: center;
  }
  /* 左右控制按钮 */
  .banner .area .control {
    position: absolute;
    /* 上下居中 */
    top: 0;
    bottom: 0;
    margin: auto 0;

    width: 37px;
    height: 63px;
    background-image: url(../image/banner.png);
  }
  .banner .area .control.left {
    left: -70px;
    background-position: 0 -360px;
  }
  .banner .area .control.left:hover {
    background-position: 0 -430px;
  }
  .banner .area .control.right {
    right: -70px;
    background-position: 0 -508px;
  }
  .banner .area .control.right:hover {
    background-position: 0 -578px;
  }
